@import "./variables";
@import "./mixins";
//******media query for mobile view*******//
@media (max-width: 768px) {
    //****header****//
    .header {
        &>div:nth-child(2) {
            display: none;
        }
    }
    //***Nav Bar ****//
    .navbar {
        ul {
            li a {
                text-decoration: none;
                color: $white !important;
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
    }
    .menu {
        display: block !important;
    }
    //***Landing page section****//
    .home__content {
        margin: 0.4rem auto;
        padding: 0.2rem 2rem;
        display: flex;
        @include displayCenter();
        &-info {
            margin: 2.3rem 0 0 1rem;
            h1 {
                font-size: 2rem !important;
                span {
                    color: $primary;
                }
            }
            p {
                margin: 0 0 2rem 0;
            }
        }
        &-img {
            display: none;
            margin: 0 auto;
            img {
                margin: 1rem;
                height: 100px !important;
                width: 200px !important;
            }
        }
    }
    //*****card content*****//
    .card-section {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        .title {
            margin: 0.8rem 0 0.5rem 0;
            font-size: 1.4rem;
        }
    }
    .content-page {
        .selection-box {
            box-shadow: 0px 0px 4px 3px rgb(230, 229, 229) !important;
            margin: 2rem auto !important;
            width: 90% !important;
            border: none !important;
            span:nth-child(1) {
                margin: 1rem 1rem !important;
                font-weight: 500 !important;
                input {
                    margin: 1.3rem 1rem !important;
                }
            }
            span:nth-child(2) {
                input {
                    width: 100% !important;
                }
            }
        }
    }
    .btn-floating {
        position: fixed;
        margin-bottom: -30px;
        bottom: -30% !important;
        &:nth-child(1) {
            left: 10% !important;
        }
        &:nth-child(2) {
            left: 70% !important;
        }
    }
}

// ****media query for large desktop view***//
@media (min-width: 1000px) {
    .header {
        &>div:nth-child(2) {
            float: right;
            margin: -2.6rem 6.5rem 0 0;
            div {
                display: flex;
            }
        }
    }
    .navbar {
        margin-right: 1rem;
    }
}

//******media query for Tablet view*******//
@media (max-width: 1085px) {
    //****header****//
    //***Landing page section****//
    .home__content {
        &-info {
            margin: 2.3rem 0 0 1rem;
            h1 {
                font-size: 1.7rem !important;
                margin: 0.2rem 0;
                span {
                    color: $primary;
                }
            }
        }
    }
}