@import "./mediaqueries";
@import "./mixins";
@import "./utils";
@import "./variables";
//NB All main styling goes in here;
//*******Header section styling*******//
.header {
    height: 50px;
    border-bottom: 1px solid $text-color;
    &__logo {
        margin: 0.8rem 0 0 1.1rem;
        span:nth-child(1) {
            font-size: 1.5rem;
            font-weight: 700;
            color: $secondary
        }
        span:nth-child(2) {
            background: $primary;
            color: $white;
            font-size: 1.5rem;
            font-weight: 700;
            padding: .4rem 0.3rem;
            border-radius: 10px;
            margin: 0 .2rem;
        }
    }
    &>div:nth-child(1) {
        margin: 0rem 0 -0.5rem 0;
    }
    &>div:nth-child(2) {
        float: right;
        margin: -3rem 5rem 0 0;
        // padding: .5rem 0;
        a {
            margin: 1rem 0 1rem;
        }
    }
}

.navbar {
    ul {
        list-style: none;
        margin: .8rem 0;
        li a {
            text-decoration: none;
            color: $black;
            font-weight: 700;
        }
    }
}

//*********Home Landing Page*****//
.content-page {
    position: relative;
    margin: 2rem 0;
    .selection-box {
        text-align: center;
        border: 1px solid $text-color;
        width: 50%;
        margin: .7rem auto;
        padding: 10px 30px;
        border-radius: 30px;
        span:nth-child(1) {
            margin: 0 3rem 0 -3rem;
            font-weight: 900;
            input {
                margin: 0 1rem;
                padding: .4rem;
            }
        }
        span:nth-child(2) {
            input {
                border-radius: 20px;
                border: solid 1px $primary;
                padding: .4rem 3.8rem;
                outline: none;
            }
        }
    }
}

//*** Hamburger menu******//@extend
.menu {
    display: none;
    height: 50px;
    width: 30px;
    position: fixed;
    top: 0%;
    right: 0;
    margin: 1rem 1rem 0 1rem;
    cursor: pointer;
    z-index: 3;
    transform: rotateY(180deg);
    span {
        display: block;
        position: relative;
        margin: 0 0 0.3rem 0;
        height: 5px;
        width: 100%;
        background-color: $primary !important;
        border-radius: 3px;
        z-index: 3;
        transition: 0.4s ease-out;
    }
    span:nth-child(2) {
        width: 63%;
    }
    span:nth-child(3) {
        width: 43%;
    }
    .close {
        margin: 1.3rem 0 0 1.6rem;
        span {
            margin: -.4rem 1.2rem;
            height: 3.5px;
            transition: 0.4s ease-out;
            background: $white !important;
            &:nth-child(1) {
                transform: rotate(48deg);
                width: 100%;
            }
            &:nth-child(3) {
                transform: rotate(-48deg);
                width: 100%;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

.side-cover {
    display: block;
    position: fixed;
    width: 70%;
    z-index: 1;
    top: 0%;
    right: 0%;
    background: $primary;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 90%;
    padding: 20px;
    height: 500px;
    transition: 0.5s ease;
    .show {
        opacity: 1;
        transition: opacity .7s ease-out;
        display: block;
        margin: 4rem 0 0 3rem;
    }
}

.list {
    opacity: 0;
    display: none;
    margin: 6.4rem 0 0 3rem;
}

.side-close {
    width: 0%;
}

.home__content {
    margin: .4rem auto;
    padding: .2rem 2rem;
    display: flex;
    &-info {
        margin: 2.3rem 0 0 1rem;
        h1 {
            font-size: 3rem;
            span {
                color: $primary;
            }
        }
        p {
            margin: 0 0 2rem 0;
        }
    }
    &-img {
        margin: 0.3rem 0rem 0 10rem;
        img {
            margin: 1rem;
            height: 300px;
            width: 500px;
        }
    }
}

//******Card section******//
.section-a {
    margin: .5rem auto;
    position: relative;
    h2 {
        font-size: 1.3rem;
        font-weight: 900;
        margin: 0 2.3rem;
        p {
            position: absolute;
            background: $secondary;
            height: 3px;
            width: 10%;
            margin: -.4rem 0 0 9rem;
        }
    }
}

.card-section {
    display: flex;
    margin: .6rem 0;
}

.box {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(230, 229, 229);
    margin: 1rem 1.9rem;
    padding: 1.5rem .5rem;
    &__img {
        text-align: center;
        img {
            height: 100px;
            width: 150px;
        }
    }
    .title {
        margin: .8rem 0 .5rem 0;
        font-size: 1.5rem;
    }
    .title,
    .text {
        padding: 0 1rem;
    }
}

//****map & search section****//
.map {
    position: relative;
    &__location {
        height: 35rem;
        width: 100%;
        img {
            @include setPicture;
            height: 100%;
            width: 100%;
        }
    }
    &__find {
        position: absolute;
        bottom: 0%;
        background: $white;
        right: 0;
        height: 180px;
        width: 500px;
        text-align: center;
        box-shadow: 0px 0px 4px 0px rgb(230, 229, 229);
        h5 {
            font-size: 1.5rem;
            margin: .7rem 0;
        }
        .search-bar {
            height: 3rem;
            width: 80%;
            text-align: center;
            margin: 2rem 1rem 0 auto;
            border-radius: 33px;
            box-shadow: 0px 0px 4px 1px rgb(230, 229, 229);
            input {
                width: 85%;
                padding: .9rem;
                border-radius: 33px;
                border: none;
                margin: 0 0 0 -2.2rem;
                outline: none;
            }
            button {
                border-radius: 30px;
                padding: 1rem .9rem;
                margin: 0.02rem -2.7rem 0 0;
                border: none;
                background: $primary;
                outline: none;
            }
        }
    }
}

//*****News and stories section*****//
.news-page {
    position: relative;
    margin: 1rem 1rem 0 1rem;
    div {
        margin: .2rem 0 0 0;
    }
    h4 {
        font-size: 2rem;
    }
    .view {
        background-color: #f4f4f4;
        color: $black;
        padding: .8rem 1.3rem;
        float: right;
        margin: -2.9rem 0;
        border-radius: 6px;
    }
    .btn-floating {
        position: absolute;
        margin: 2rem 0;
        z-index: 3;
        bottom: 100%;
        left: 25%;
        &:nth-child(1) {
            margin: 1rem 3rem -.2rem 0;
            background-color: $white;
            color: $black;
            border: #f4f4f4 solid;
            padding: 8px 15px;
            border-radius: 50%;
        }
        &:nth-child(2) {
            margin: -1rem 0 0 3rem;
            background-color: $primary;
            color: $white;
            padding: 8px 15px;
            border-radius: 50%;
        }
    }
}

.card {
    border: none;
    margin: -.8rem;
    img {
        height: 100%;
    }
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: absolute;
}